head
    title perf test
    style
        | body { font-family: sans-serif; }
        | div { margin: 1em; }
        | span { margin-right: 1em; }
        | #progNum { width: 5em; display: inline-block; text-align: right }

body
    div
        button#start Start benchmark
    div
        span Progress:
        span#progNum 0 / 0
        progress#progBar
